layout {
  pane {
    size 1;
    borderless true;
    plugin location="zellij:compact-bar";
  };
  pane split_direction="vertical" {
    pane split_direction="horizontal" {
      pane {
        stacked true;
        pane {
          expanded true;
          name "cargo run";
          command "cargo";
          args "watch" "-c" "-x" "run";
        };
        pane {
          name "cargo test";
          command "cargo";
          args "watch" "-c" "-x" "test";
        };
        pane {
          name "bottom";
          command "btm";
        };
      };
    };
    pane {
      stacked true;
      pane {
        focus true;
        expanded true;
        name "neovim";
        command "nvim";
        args "./";
      };
      pane {
        name "gitui";
        command "gitui";
      };
    };
  }
  pane size=2 borderless=true {
    plugin location="zellij:status-bar";
  };
};
